* {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: darkgreen;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.description {
    padding: 10px 10px 0px;
}

.ingredients {
    padding-left: 10px;
}

.recipe-card {
    border: 4px solid darkgreen;
    text-align: left;
    width: 650px;
}

h3 {
    color: darkgreen;
    text-align: center;
    text-decoration: underline;
}

.steps {
    margin: 10px 10px 10px 0px;
}